<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="container">
    <div class="row">
      <div class="col-md-2 content1" id="myScrollspy">

        
       
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top='150'>
                <li class="dp active"><a href="#1">JavaScript简介</a></li>
                <li class="dp"><a href="#2">快速入门</a></li>
                <li class="dp"><a href="#3">基本语法</a></li>
                <li class="dp"><a href="#4">数据类型和变量</a></li>
                <li class="dp"><a href="#5">字符串</a></li>
                <li class="dp"><a href="#6">数组</a></li>
                <li class="dp"><a href="#7">对象</a></li>
                <li class="dp"><a href="#8">条件判断</a></li>
          </ul>

        
      </div>

      <div class="col-md-10 content2">
        <h2 id="1">Javascaript教程</h2>
        <script type="text/javascript">

        if (localStorage.pagecount)
          {
          localStorage.pagecount=Number(localStorage.pagecount) +1;
          }
        else
          {
          localStorage.pagecount=1;
          }
        document.write("访问量: " + localStorage.pagecount + " ");

        </script> 
        <hr>
        <div>
          <img src="img/git.png" width="40%" style="" alt="">
        </div>

        
          <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>

        <h2 id="2">快速入门</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>

        <h2 id="3">基本语法</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>

        <h2 id="4">数据类型和变量</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>
        <h2 id="5">字符串</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>

        <h2 id="6">数组</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>

        <h2 id="7">对象</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>
        <h2 id="8">条件判断</h2>
           <div>
          <div class="pad">
          <h4>史上最浅显易懂的Git教程！</h4>
          <p>为什么要编写这个教程？因为我在学习Git的过程中，买过书，也在网上Google了一堆Git相关的文章和教程，但令人失望的是，这些教程不是难得令人发指，就是简单得一笔带过，或者，只支离破碎地介绍Git的某几个命令，还有直接从Git手册粘贴帮助文档的，总之，初学者很难找到一个由浅入深，学完后能立刻上手的Git教程。</p>
          </div>
          <div class="pad">
          <h4>既然号称史上最浅显易懂的Git教程，那这个教程有什么让你怦然心动的特点呢？</h4>
          <p>首先，本教程绝对面向初学者，没有接触过版本控制概念的读者也可以轻松入门，不必担心起步难度；
          其次，本教程实用性超强，边学边练，一点也不觉得枯燥。而且，你所学的Git命令是“充分且必要”的，掌握了这些东西，你就可以通过Git轻松地完成你的工作。</p>
          </div>
          <div class="pad">
          <h4>文字+图片</h4>
          <p>本教程只会让你成为Git用户，不会让你成为Git专家。很多Git命令只有那些专家才明白（事实上我也不明白，因为我不是Git专家），但我保证这些命令可能你一辈子都不会用到。既然Git是一个工具，就没必要把时间浪费在那些“高级”但几乎永远不会用到的命令上。一旦你真的非用不可了，到时候再自行Google或者请教专家也未迟。</p>

        </div>
        </div>

       <hr>
       
  <div >
  <form action="" method="post" name="comments">
    {{form.hidden_tag()}}
    <table>
        <tr>
            <h2>评论:</h2>
            <div class="comment">{{ form.comment(size=80,maxlength = 140) }}</div>
            <td>
            {% for error in form.errors.comment %}
            <span style="color: red;">[{{error}}]</span><br>
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="提交"></td>
            <td></td>
        </tr>
    </table>
</form>
<hr>
{% for comment3 in comments3 %}
<p>
  {{comment3.author.nickname}} : <b>{{comment3.body}}</b><br>
  {{comment3.timestamp}}
</p>
<hr>
{% endfor %}
</div>

      </div>
    </div>
    </div>
 


<footer id="footer">
  <div class="container">
    <p>企业培训 | 合作事宜 | 版权投诉</p>
    <p>邮箱：1774507011@qq.com |2017.1.2</p>
  </div>
</footer>
{% endblock %}